.Section {
    display: flex;
    padding : 3px;
    border: 2px dotted purple;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 332px;
}

.Section article {
    width:100%;
    border-bottom: 0px;
    min-width: 324px;
}

.Section p {
    color : darkorchid;
    padding: 6px 6px;
    margin: 3px;
}

.Section article  {
    box-sizing: border-box;
    padding: 6px 6px;
}

.Section__split-div-2 {
    justify-content: center;
}

.Section__split-div-2:div {
    width: 50%;
}

@media (max-width:600px) {
    .Section {
        border: 0px;
        padding: 0px;
    }
    .Section article {
        border: 3px dotted purple;
    }
}

@media (min-width:600px) {
    .Section.Section__Split-2 article {
        width:50%;
    }
    .Section.Section__Split-3 article {
        width:33.3333%;
    }    
    .Section.Section__Split-4 article {
        width:25%;
    }
    .Section__split-div-2 {
        display: inline-flex;
    }
    .Section__article-split{
        width:66.6666% !important;
    }
}
