@import "Nav.css";
@import "Header.css";
@import "Section.css";
@import "Divider.css";
@import "ImageTabs.css";
body {
    margin:0;
    box-sizing: border-box;
    background-color: #ECE6F2;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}