.ImageTabs {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ImageTabs__thumbnail {
    padding: 3px;
    margin-bottom: -6px;
}

.ImageTabs__thumbnail-displayItem {
    justify-content: center;
}

.ImageTabs__thumbnail-displayItem img {
    justify-content: center;
    width:230px !important;
    height:307px !important;
    box-shadow: 7px 7px 5px darkorchid;
    margin-bottom:10px;
    border: 1px solid gold;
}

.ImageTabs__thumbnail img{
    padding: 3px 3px;
    width:76px;
    height:76px;
    box-sizing: border-box;
}

.ImageTabs__thumbnails-row {
    padding: 0px;
}


.ImageTabs__thumbnails-column {
    display: inline-flex;
    display: -moz-inline-flex;
    padding: 0px;
}